* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    height: 100%;
    width: 100%;
}

.calc-container {
    background-color: grey;
    height: 650px;
    width: 450px;
    margin: 5% auto;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px 6px rgb(136, 136, 136);
}

.display-container {
    font-size: 24px;
    height: 34px;
    width: 98%;
    font-family: 'Orbitron', sans-serif;
    background: white;
    text-align: right;
    margin-top: 5%;
    border: 1px solid black;
}

.display-container > p {
    border: 4px solid rgb(182, 182, 182);
    height: 34px;
}

.button-container {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

button {
    width: 23%;
    height: 70px;
    margin: 4px;
    font-size : 30px;
    box-shadow: 0 2px 4px 0;
    border-radius: 5px;
}

button:active {
    box-shadow: 0 0 0 0;
    background-color: white;
}

